* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-family: 'Baloo Chettan 2', cursive;
}
body {
	background: #af760c8e;
    font-size: 18px;
}
.main-container {
    width: 95%;
    margin: 20px auto;
}
.main-container .container1 {
    margin-left: 5%;
}
.main-container .container2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
}
@media (max-width: 600px) {
    .main-container .container2 {
        margin-left: 20%;
    }
}
.main-container .container3 {
    display: none;
    position: absolute;
    top: 26%;
    left: 40%;
}
@media (max-width: 768px) {
    .main-container .container3 {
        left: 30%;
    }
}
@media (max-width: 600px) {
    .main-container .container3 {
        left: 20%;
    }
}
.main-container .container3 textarea {
    width: 275px;
    height: 275px;
    border: none;
    outline: none;
    padding: 40px 25px 25px 25px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    resize: none;
}
.main-container .container3 textarea::placeholder {
    font-size: 18px;
    color: #091921;
}
.main-container .container3 textarea:focus {
    color: #091921;
}
.main-container .container3 svg {
    color: #091921;
}
.main-container .container3 #check-icon {
    position: absolute;
    top: 4%;
    right: 14%;
}
.main-container .container3 #cancel-icon {
    position: absolute;
    top: 4%;
    right: 5%;
}